

.text-home h2{
    color: #CA2519;
    text-align: center;
  
    font-family: 'Karla', sans-serif;;
}

.text-home p{
    color: #1D1C19;
   
    font-size: 22px;
    font-family: 'Raleway', sans-serif;

}

.img-home{
    width: 5px;
    
    animation: rotation  6s linear infinite;
}
@keyframes rotation {
    0% {
        margin-left: -5%;
        
    }
    50% {
        margin-left: 5%;
    }
    100% {
        margin-left: -5%;
    }
  
  }




.groupe-body{
    display: flex;
    flex-direction: row;

}

.single-img img{
    width: 40vh;
    margin-top: -1%;
    margin-left: 5%;
}



.left-grp h2{
    color: #CA2519;
    font-family: 'Karla', sans-serif;;
    text-align: center;
    margin-top: 10%;
}


.GENERAL-body{
   margin-left: 7%;
}

.bd-BODY{
margin-top: 5%;
background-color: #1D1C19;
height: 35vh;
margin-left: -160px;
}

.img-donner img{
    width: 90vh;
    height: 176px;
    margin-left: 38%;
    margin-top: 4%;
}

.grouper-2{
    display: flex;
    flex-direction: row;
}

.text-dt h2{
    color: #CA2519;
    font-family: 'Karla', sans-serif;;
    text-align: center;
}

.text-dt p{
    color: white;
    font-family: 'Raleway', sans-serif;
   
} 

.text-dt{
margin-left: 15%;
margin-top: 3%;
}

.titre-card h2{
    color: #CA2519;
    font-family: 'Karla', sans-serif;;

} 

.produit{
    border-radius: 20px;
    border: 1px solid #CA2519;
    box-shadow: 0 0 5px;
    height:100%;
    width: 70%;
}
.left-grp p{
    color: #1D1C19;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
}