/*  header ------------------------------------------------------------- */

* {
    padding: 0px;
    margin: 0px;
  }
  body{
      overflow-x: hidden;
      background-color:#FFFCFC;
  }
  
  
  .bd-header{
      background-color: #1D1C19;
      width: 100vw;
      height: 27vh;
      display: flex;
     flex-direction: row;
  }

  .bd-header img{
    width: 350px;
    height: 199px;
    margin-left: -1%;
    margin-top: 0%;
}

h2{
    color: #CA2519;
    font-family: Lucida Calligraphy;
    margin-top: -45.5%;
    margin-left: 145%;
    font-size: 44px;
}


.bd-header p{
    color: white;
    font-family: Lucida Calligraphy;
    margin-left: 151%;
    margin-top: -18px;
    font-size: 16px;
}

/*- Content body ---------------------------------------------- */

.main {

    height: 427px;
    width: 70%;
    margin: 14% auto;
    margin-left: -13%;
    margin-top: 189px;
    background-color: white;
    border-radius: 15px;
    border: 1px solid white;
    box-shadow: 0 0 5px rgb(37, 36, 36); 
}

.main .right {

    float: right;
    width: 50%;
    height: 400px;
    background-size: cover;
    border-radius: 0 15px 15px 0;
}

.right .content img{
    width: 300px;
    border-radius: 10px;
    margin-top: -90.5%;
    HEIGHT: 74VH;
    margin-left: 33%;
}



.main .left {
    width: 63%;
    height: 400px;
    float: left;
}

.left form {
    width: 80%;
    margin: auto;

}

form input {
    width: 90%;
    margin: auto;
    padding: 3%;
    margin-bottom: 10px;
    display: block;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(0, 0, 0, .3);


}

form textarea {
    width: 90%;
    margin-left: 5%;
    padding: 3%;
    border: none;
    resize: none;
    outline: none;
    border-bottom: 2px solid rgba(0, 0, 0, .3);
}

form input[type=submit] {
    font-family: 'Montserrat', sans-serif;
    width: 30%;
    margin-top: 15px;
    border: none;
    outline: none;
    background-color: #CA2519;
    border-radius: 15px;
    color: white;
    font-size: 19px;
    padding: 7px 0;
}

.left .title {
    margin: auto;
    width: 100%;
}

.title h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #CA2519;
    margin-top: 4%;
}

.footer-grp{
    margin-top: 120vh;
    margin-left: -150%;
}

.parag{
    margin-top: 16px;
}

/*  responsive contact --------------------------------------*/


@media screen and (max-width: 800px){

.bd-header{
    height: 20vh;
  }

 

 .bd-header img{
    width: 140px;
    height: 130px;
    margin-left: 1%;
    margin-top: 0%;
}

h2{
    margin-top: -60%;
    margin-left: 120%;
    font-size: 38px;
}

.bd-header p{
    margin-left: 135%;
    margin-top: -18px;
    font-size: 13px;

}

.main{
    height: 340px;
    width: 88%;
    margin: 14% auto;
    margin-left: -26%;
    margin-top: 170px;
}

.right .content img{
    width: 161px;
    border-radius: 10px;
    margin-top: -223%;
    HEIGHT: 60vh;
    margin-left: 28%;
}



form input[type=submit] {
    margin-top: 18px;
    border-radius: 10px;
    font-size: 10px;
}


.footer-grp{
    width: 100%;
    height: 48vh;
    

}

.parag{
    margin-top: 10px;
}


}

@media (max-width: 979px){
    .img { 
        display: none;
     }
}